.hamburger-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    cursor: pointer;
    background: #305DFF;
    transition: transform 0.3s;
    box-shadow: 3px 3px 3px #A7A7A7;
}

.hamburger-line__1 {
    width: 30%;
    height: 1px;
    margin: 3px 0px 0px 8px;
    background-color: white;
    margin-bottom: 4px;
    transition: background-color 0.3s;
}

.hamburger-line__2 {
    width: 60%;
    height: 1px;
    margin: 3px 0px 0px 8px;
    background-color: white;
    margin-bottom: 4px;
    transition: background-color 0.3s;
}

.hamburger-line__3 {
    width: 20%;
    height: 1px;
    margin: 3px 0px 0px 8px;
    background-color: white;
    margin-bottom: 4px;
    transition: background-color 0.3s;
}

.hamburger-menu.active .hamburger-line__1 {
    transform: rotate(45deg) translate(5.9px, 6.5px);
    width: 59%;
}

.hamburger-menu.active .hamburger-line__2 {
    opacity: 0;
}

.hamburger-menu.active .hamburger-line__3 {
    transform: rotate(-45deg) translate(5px, -5.3px);
    width: 58%;
}

.menu {
    display: none;
    background-color: #f0f0f0;
    padding: 10px;
}

.active + .menu {
    display: block;
}