body, html {
    background-color: #EEEEEE;
    margin: 0;
    padding: 0;
    height: 100%;
}

.app {
    min-height: 100vh;
    background-color: #EEEEEE;
}

.hamburger-wrapper {
    display: flex;
    align-items: center;
    transform: translate(110px, 30px);
}

.hamburger-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    cursor: pointer;
    background: #305DFF;
    transition: transform 0.3s;
    box-shadow: 3px 3px 3px #A7A7A7;
}

.hamburger-line__1 {
    width: 30%;
    height: 1px;
    margin: 3px 0px 0px 8px;
    background-color: white;
    margin-bottom: 4px;
    transition: background-color 0.3s;
}

.hamburger-line__2 {
    width: 60%;
    height: 1px;
    margin: 3px 0px 0px 8px;
    background-color: white;
    margin-bottom: 4px;
    transition: background-color 0.3s;
}

.hamburger-line__3 {
    width: 20%;
    height: 1px;
    margin: 3px 0px 0px 8px;
    background-color: white;
    margin-bottom: 4px;
    transition: background-color 0.3s;
}

.site-title {
    font-size: 32px;
    color: #305DFF;
    margin-left: 20px;
    font-weight: bold;
    transition: opacity 0.3s, visibility 0.3s;
}

.body--menu-open .site-title {
    opacity: 0;
    visibility: hidden;
}

.hamburger-menu.active .hamburger-line__1 {
    transform: rotate(45deg) translate(5.9px, 6.5px);
    width: 59%;
}

.hamburger-menu.active .hamburger-line__2 {
    opacity: 0;
}

.hamburger-menu.active .hamburger-line__3 {
    transform: rotate(-45deg) translate(5px, -5.3px);
    width: 58%;
}

.menu {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-55%, -80%);
    background-color: #FFFFFF;
    padding: 0;
    margin: 0;
    text-align: center;
    list-style: none;
}

.app.body--menu-open {
    background-color: #ffffff !important;
}

.menu-home {
    margin-bottom: 35px;
}

.menu-register {
    margin-bottom: 35px;
}

.menu-login {
    margin-bottom: 35px;
}

a {
    text-decoration: none;
    color: #305DFF;
    font-size: 32px;
}

.active + .menu {
    display: block;
}
